/* navigation */
#navbar{
    flex-direction: column;
    position: sticky;
}
#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 9px;
  padding-bottom: 9px;
}
/* home section */
#home{
  height: 300px;
  padding: 60px 60px;
 
}
#home::before{
    height:610px ;
    
}
#home p{
    font-size: 15px;
}

/* service section */
#services{
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding-bottom: 8px;
   overflow: hidden;
}


/* client section */
#client{
 flex-wrap: wrap;
}
#client img {
    height: auto;
    width: 60px;
    padding: 10px 10px;
}

/* contact us section*/
#contact{
    overflow: hidden;
}
/* utility clases */
.primary{
   font-size: 25px;

}